<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="/static/css/upload.css">
</head>
<body>
    <h1>이미지 업로드</h1>

    <!-- 이미지 업로드 폼 -->
    <form action="{{ url_for('upload.upload_image') }}" method="POST" enctype="multipart/form-data">
        <label for="image">이미지 파일 선택 (JPG 형식):</label><br>
        <input type="file" id="image" name="image" accept=".jpg, .jpeg" required><br><br>
        <button type="submit">시작하기</button>
    </form>

    <form id="logout-form">
        <button type="button" id="logout-button">로그아웃</button>
    </form>

    <!-- JavaScript 파일 -->
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
</body>
</html>
